<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="../assets/styles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles.css" type="text/css"/>

    <title>Group Dashboard</title>
</head>
<body>
    <%- include('./partials/_TopNavigationPartial.html') %>

    <div class="grid_12">
         <div class="groupButtonDiv">
           <%- include('./partials/_GroupButtons.html') %>
         </div>

         <header id="dashboard">
          <h1 id="dashboardHeader">
            <% if(typeof groupName != 'undefined') { %>
              <%= groupName %>'s Dashboard
            <% } %>
          </h1>
         </header>

            <div class="groupLinks">
              <form name="register-form" method="POST" action="/url/newUrl">
                <div id="addURL">
                  <input size="100" placeholder="URL: https://app.groupme.com/chats" type="text" id="urlinput" name="text">
                  <input type="hidden" name="fullName" value= <%= global.fullName %>>
                  <input type="hidden" name="groupId" value= <%= global.groupId %>>
                  <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Add URL</button>
                </div>
              </form>
              <form name="register-form" method="POST" action="/comment/newComment">
                <div id="addComment">
                  <input size="100" placeholder="COMMENT: when is our assignment due?" type="text" id="commentinput" name="text">
                  <input type="hidden" name="fullName" value= <%= global.fullName %>>
                  <input type="hidden" name="groupId" value= <%= global.groupId %>>
                  <button type="submit" value="Submit" class="groupmeet-btn commentBtn">Add Comment</button>
                </div>
              </form>
            </div>
          <div class="availabilityWrapper">
            <div class="grid_6">
                <h2 id="boxHeader">Urls</h2>
                <div id="urlBox">
                  <% for(var i=0; i<global.groupUrls.length; i++) {%>
                    <div class="docLeft">
                      <p  class="nameCard"><%= global.groupUrls[i]["creatorName"]%>:
                      <a href="<%= global.groupUrls[i]['text']%>" class="url"><%= global.groupUrls[i]['text']%></a></p>
                      <p class="creationDate"> Created: <%= global.groupUrls[i]["created"]%></p>
                    </div>
                    <div class="docRight">
                      <a href="/url/deleteUrl/<%= global.groupUrls[i]['_id']%>" class="actionButtonsTM deleteButton">Delete</a>
                    </div>
                <% } %>
                </div>
            </div>
            <div class="grid_6">
                <h2 id="boxHeader">Comments</h2>
                <div id="commentBox">
                  <% for(var i=0; i<global.groupComments.length; i++) {%>
                    <div class="docLeft">
                      <p class="nameCard"><%= global.groupComments[i]["creatorName"]%>:</p>
                      <p class="comment"><%= global.groupComments[i]["text"]%></p>
                      <p class="creationDate"> Created: <%= global.groupComments[i]["created"]%></p>
                    </div>
                    <div class="docRight">
                      <a href="/comment/deleteComment/<%= global.groupComments[i]['_id']%>" class="actionButtonsTM">Delete</a>
                    </div>
                  <% } %>
                </div>
            </div>
          </div>
      </div>
    </body>
</html>
